-load sizefieldtags
-load less

%table.table.table-hover.package-list{id: 'package-list-={request.GET.page|default:1}',
  itemtype:'http://schema.org/MobileApplication'}
  %tbody
    - for item in results
      %tr.row{itemscope: ''}
        %td
          %img.icon.img-polaroid{alt: '={item.title}',
            onerror: 'imgonerror(this, default_icon);',
            src: '={item.icon}', itemprop: 'image'}
        %td
          .caption{itemprop: 'description'}
            %h4.title{itemprop: 'name'}= item.title
            %p.summary.small
              %span.hide{itemprop: 'name'}= item.package_name
              %span{itemprop: 'applicationSubCategory'}= item.category_name
              |
              %span{itemprop: 'softwareVersion'}= item.version_name
              |
              %span{itemprop: 'fileSize'}= item.download_size|filesize
        %td
          %a.pull-right.btn.download.btn-lg.text-center{href: '={item.download|default:"#"}',
            itemprop: 'downloadUrl'}<
            %span.glyphicon.glyphicon-cloud-download
    - empty
      {% include "webmob/widget/empty.haml" %}

- if results and count > 10 and results|length >= 10
  {% include "webmob/widget/btn-more.haml" %}
