-load i18n
-load sizefieldtags
-load humanize
-load util_tags


#screenshots.jcarousel.center-block{'data-jcarousel': 'true', 'data-animation': 'fast'}
  %ul
    - for screenshot in screenshots
      %li
        %a{href:'javascript:void(0);'}
          %img{src:'={screenshot.preview}', itemprop: 'screenshot'}
  %a.jcarousel-control-prev{'data-jcarouselcontrol': 'true'}
    %span.glyphicon.glyphicon-chevron-left
  %a.jcarousel-control-next{'data-jcarouselcontrol': 'true'}
    %span.glyphicon.glyphicon-chevron-right
  %p.jcarousel-pagination{'data-jcarouselpagination': 'true'}<

#information.panel.panel-success
  .panel-heading
    %h4.panel-title<
      详细信息
  .panel-body.container
    %table.table
      %tbody
        %tr
          %th<
            版本：
          %td{itemprop: 'softwareVersion'}= version_name
          %th<
            下载：
          %td= download_count|intcomma
        %tr
          %th<
            大小：
          %td{itemprop: 'fileSize'}= download_size|filesize
          %th<
            发布时间：
          %td= released_datetime|print_timestamp|date:"Y-m-d"
        %tr
          %th<
            分类：
          %td{itemprop: 'applicationSubCategory'}
            %a{href: '{% url "webmob.views.packages" %}?categories__name\={{category_name}}'}<
              = category_name
          %th<
            作者：
          %td
            %a{href: '{% url "webmob.views.packages" %}?author\={{author.id}}',
            itemprop: 'author'}<
              = author.name


#description.panel.panel-success
  .panel-heading
    %h4.panel-title<
      介绍说明
  .panel-body<
    %pre{itemprop: 'text'}= description

#whatsnew.panel.panel-success
  .panel-heading
    %h4.panel-title<
      更新内容
  .panel-body<
    %pre{itemprop: 'releaseNotes'}= whatsnew

%a.text-center.btn.btn-lg.btn-primary.btn-block{href: '={download|default:"#"}'}
  %i.glyphicon.glyphicon-cloud-download
