-load templatehelper_tags widgets url_tags
.f18.cell.rel.t-title
  %h3.l.n.mr30= title
  %a.r.f12.mt5.more{:href => "={more_url}", :target => "_blank" } 更多&gt;
/ t-title

.hot-bbs-list.novice-bbs-list
  {% settings_value "GC_WEB_HOME_A8_PLACE_SLUG" as A8_PLACE_SLUG %}
  {% widget WebSingleAdvertisementWidget slug=A8_PLACE_SLUG %}
  %a.rel.top{:href => "#", :target => "_blank"}
    %img{:src => "{% resource_url item 'cover' %}"}
      %span.abs.tc.white.png= item.title
  {% endwidget %}

  %ul.pt10
    -for post in items
      %li.cell-bk
        %h4.l
          %a{:href => "={post.url}", :target => "_blank"}
            %img{:src => "={post.avatar_url}"}
            = post.title
        %span.r.g9.f10{:title => "回复|查看"}
          = post.replies_count
          %em>< |
          = post.views_count
        %span.abs.ios-web-icon
/ novice-bbs-list
