-load staticfiles
%h2.mcenter_title<
  - if more_url
    %span.right
      %a{:href => "{% url more_url %}"} 更多 &gt;
  %b
  = title
- for post in items
  .mcdl
    %span.mainsort= post.categories.all.0.title
    %dl
      - if post.featured_image
        %dt
          %img{:src => '={post.featured_image.url}', :width => "92", :height => "92"}/
      %dd
        %h3
          %a{:href => '={post.get_absolute_url}'}= post.title
      %dd
        %article.mc_txt= post.description|truncatechars:100|safe
      %dd
        %a{:href => "#"}= post.user.username
        |
        %a{:href => "#"}= post.publish_date|date:'SHORT_DATE_FORMAT'
        |
        %a{:href => "#"} 阅读次数
        |
        %a{:href => "#"}= post.comment_count|default:0
