-load staticfiles
%h3
  - if more_url
    %span.right>
      %a{:href => "={more_url}"} 更多 &gt;
  = title
.clear
  - for package in items
    {% with version=package.versions.latest_published %}
    %dl
      %dt
        %img{:src => '={version.icon.url}', :height => "48", :width => "48"}/
      %dd
        %a.font18{:href => "={version.get_absolute_url}"}= version.package.title
      %dd
        {% with main_category=version.package.categories.all.0 %}
        %a{:href => "={main_category.get_absolute_url}"}= main_category.name
        {% endwith %}
        |
        - if version.di_download
          = version.di_download.size|filesizeformat
        - elif version.download
          = version.download.size|filesizeformat
        - else
          0KB
        |
        = version.download_count|default:0
      %dd.mntxt1= forloop.counter
    {% endwith %}
