-load staticfiles
%h3
  - if more_url
    %span.right>
      %a{:href => "={more_url}"} 更多 &gt;
  = title
.clear
  - for item in items
    %dl
      %dt
        %img{:src => '={item.icon.url}', :height => "48", :width => "48"}/
      %dd
        %a.font18{:href => "={item.get_absolute_url}"}= item.package.title
      %dd
        {% with main_category=item.package.categories.all.0 %}
        %a{:href => "={main_category.get_absolute_url}"}= main_category.name
        {% endwith %}
        |
        - if item.di_download
          = item.di_download.size|filesizeformat
        - elif item.download
          = item.download.size|filesizeformat
        - else
          0KB
        |
        = item.download_count|default:0
      %dd.mntxt1= forloop.counter
